*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#dee2e6;
}

h1{
    text-align: center;
    padding-top: 6%;
    color: white;
}

#btn{
    width: 80px;
    height: 45px;
    background-color: #d8b4a0;
}


#input{
    margin-top: 20px;
   width: 312px;
   height: 40px;
}
section{

    width: 400px;
    border: 2px solid #000000;
    padding: 2px;
    padding-top: 0;
    margin: 50px auto; 
    background-color: #383e56;
    box-shadow: 10px 18px 20px 14px gray;
}

ul{
    margin-top: 10px;
    
    list-style: none;
    background-color: lightcyan;
}

ul li{
    border: 1px solid gray;
    padding: 7px;
    position: relative;
}

ul li:nth-child(even) {
  background: #adb5bd;
}

ul li:hover {
  background: #76ebb5;
}

ul li .Delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 16px 9px 8px;
  background-color: #e5383b;
      border: 1px solid black;

}

.Delete:hover {
  
  color: #ffe5d9;
    font-weight: bold;
}

#heading{
    height: 80px;
    background-color: #212529;
}

.edit{
      position: absolute;
  right: 70px;
  top: 0;
padding: 2px 22px 9px 16px;
  background-color: #a4c3b2;
    border: 1px solid black;
}

.edit:hover {
  
  color: #fff;
    font-weight: bold;
}














