*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: url(https://images.unsplash.com/photo-1586603691481-61c5a0b9f86a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#search{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 70px 15px 15px;
     /* border: 2px solid black; */
}

.search-box{
    /* margin-top: 40px; */
    color:rgb(240, 167, 138);
    background-color:rgba(54, 54, 54, 0.733);
    font-size: 17px;
    width: 100%;
    max-width: 320px;
    outline: none;
    padding: 13px 15px;
    border-radius: 35px 0px 35px 0px;
    border: 5px solid rgb(216, 203, 180);
    transition: 0.2s ease;
    box-shadow: 12px 14px 15px black;

  }

main {
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#city{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 8px 6px black;
}
#date{
    color:rgb(243, 182, 158);
    font-size: 20px;
    text-shadow: 2px 10px 6px black;
}

#temp{
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 10px 5px black;
}
#weather{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 8px 6px black;

}

#min-max{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 10px 6px black;
}

section{
    color: white;
    margin-top: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: center;
    text-align: center;
    width: 70%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.extra-info{
    width: 250px;
    padding: 5px;
    text-shadow: 2px 8px 6px black;
    /* border: 4px solid black; */
}
.wind{
    /* background-color:rgb(199, 122, 91); */

    width: 250px;
    margin-top:0 ;
    text-shadow: 2px 8px 6px black;
    /* border: 4px solid black; */
    /* margin-left:35%; */
}


nav{
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.822);

}

#links{
    display: flex;
    position:absolute;
    right: 13px;
    margin-top: 15px;
    padding: 4px;
}



.btn i{

    color: white;
    padding: 0px 20px;

}


.btn i:hover{
    
    color:orange;
    transform: scale(1.5);
}

#navtitle{
    margin-top: 8px;
    width: 20vw;
    color: white;
    /* border: 2px solid red; */
}
#navtitle h3{
    top: 13px;
    color: lightcoral;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    display: flex;
    position: absolute;
    left: 80px;
    
}

.logo{
    margin-top: 0;
    padding-top: 0;
    display: flex;
    position: absolute;
    left: 1vw;
    width: 50px;
    height: 40px;
}


@media screen and (max-width: 500px) {

    #navtitle h3{
        margin-top: 4px;
        left: 65px;
        font-size: 18px;
    }
   
    
.btn i{

    padding: 0px 2vw;

}

    
}